{% extends 'layout/master.twig' %}

{% block content %}
    <!-- Contact Form -->
    <div class="c-form-container section-container section-container-image-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 c-form section-description wow fadeIn">
                    <h1>Welcome to our <strong>HelpDesk</strong></h1>
                    <p>Did you tried our <a href="#">FAQ</a> page ? <br />It has very helpful info.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
                    <h1>Thanks for contacting us! We will get back to you very soon.</h1>
                    <p><a href="/">Send another one.</a> </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}